.navbar {
  margin-bottom: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.website-title {
  color: #9a0b11;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black;
  background-color: transparent;
  margin: 0;
}

.logout:hover {
  cursor: pointer;
}
