* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: url("https://img.freepik.com/free-vector/red-black-grunge-texture-background_1409-1600.jpg");
  background-repeat: repeat-y;
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
